# Configurações e Credenciais AWS (Preencha em seu arquivo .env local)
AWS_ACCESS_KEY_ID=SEU_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=SEU_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN=SEU_SESSION_TOKEN_OPCIONAL
AWS_DEFAULT_REGION=us-east-1

# Parâmetros Amazon Athena
ATHENA_DATABASE=db_state_of_data
ATHENA_WORKGROUP=primary
ATHENA_OUTPUT_LOCATION=s3://tc-state-of-data-leonardo-2026/athena-results/automated/
